* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /////////////// */
/* styling the header section */
header {
    background-color: white;
}

span#united-states {
    border-right: 2px solid lightgrey;
    font-size: 0.9rem;
    font-weight: bold;
    padding-right: 20px;
}

span#location {
    color: black;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}
.navbar1 ul {
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
 
}
li#navItem2{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  flex: 1;
  padding-top: 5px;
 
  

    
}

#btn-login-signup {
    /* float: right; */
    padding: 10px;
    padding-bottom: 5px;
    background-color: green;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;

}

.navbar2 {
    border-top: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    list-style-type: none;
}

a:link {
    text-decoration: none;

}

a {
    color: green;

}

.search-icon {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;

}

#input-search {
    width: 30px;
    height: 30px;
}

#logo {
    height: 30px;


}

#img-us {
    height: 30px;
    margin-left: auto;
    margin-bottom: -8.80px;
    margin-right: 8px;
   


}


#btn-feedback {
    position: fixed;
    right: -55px;
    color: white;
    background-color: green;
    padding: 10px;
    font-weight: bold;
    border: none;
    margin-right: 5px;
    vertical-align: top;
    transform: rotate(7deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    -o-transform: rotate(90deg);
    /*Opera  */
}

#btn-guide {
    padding: 20px;
    font-weight: bold;
    background-color: #DD571C;
    border: none;
    color: white;
    border-radius: 5px;
}

.welcome {
    position: relative;
    padding-top: 100px;
    height: 100vh;
    background-image: url("../img/slide4.webp");
    background-repeat: no-repeat;
}

.welcome-section1 {
    padding-left: 200px;
    padding-bottom: 50px;
}

.welcome-section1 h1,
.welcome-section1 h3 {
    color: white;
}

.welcome-section1 h1 {
    font-size: 3rem;
    padding-bottom: 20px;
}

.welcome-section1 h3 {
    padding-bottom: 20px;
}

.welcome-section2 {
    opacity: 0.5;
    background-color: black;
    padding-top: 74px;
    padding-bottom: 49px;
    padding-left: 200px;


}

.btn-slide {
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
    background-color: black;
    font-weight: bolder;
    color: white;
    border-style: solid;
    border-color: lightgray;


}

.slide {
    display: flex;
    color: white;
    align-items: center;
    font-weight: bold;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 20px;
    width: 60%;


}

.slide p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;



}


/* styling the main section */
/* section--one */
.section1 {
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
    padding-bottom: 50px;

}

.column1 {
    width: 60%;



}

.column1 h2 {
    padding-bottom: 10px;
}

.column1 h3 {
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 20px;
}

.column1 p {
    font-size: 1rem;
    padding-bottom: 30px;
}

/* styling column2---two */
.column2 {
    font-size: 1rem;
    font-weight: bold;

}

.column2 h2 {
    padding: 20px;

}

.column2 :is(p) {
    font-size: 1.2rem;
    padding: 20px;
    padding-bottom: 40px;
    border-bottom: 2px solid lightgrey;


}

#btn-create-account {
    padding: 20px;
    font-weight: bold;
    background-color: #DD571C;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
}

/* section--two */
section.section2 {
    background-color: lightgrey;
    padding-bottom: 70px;
}

.row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}

.row1>h2 {
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 1.8rem;
    font-weight: bold;
}

.row1>p {
    font-size: 1.1rem;
    letter-spacing: .1rem;
    line-height: 2rem;

}

.row1 :is(p, h2) {
    text-align: center;

}

/* styling section 2 row2 */
.row2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.content {
    background-color: white;
    height: 300px;
    width: 200px;
    padding-left: 20px;

}

.content-one {
    margin-left: 10px;
}

.content-two {
    margin-left: 10px;

}

.content h2 {
    padding-top: 30px;
    font-size: 1rem;
    padding-bottom: 20px;
    line-height: 1.5rem;
    color: green;
    font-weight: bold;
}

.content p {
    padding-bottom: 10px;
}

.content a {
    padding-bottom: 20px;
    font-weight: bold;

}

.content :is(p, a) {
    line-height: 1.5rem;
}

.image1 img {
    height: 300px;
    width: 200px;



}

.image2 img {
    height: 300px;
    width: 200px;


}

/* styling section 3  */
/* styling section 3 row-container1 */
section.section3 {}

.row-container1 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.row-container1 :is(h2, p) {
    text-align: center;

}

.row-container1 h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
    letter-spacing: 0.2rem;
}

.row-container1 p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding-bottom: 40px;
}

/* styling section 3 row-container2 */
.row-container2 {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 50px;
}

#image-grid {
    width: 300px;


}

.common {
    background-color: white;
    margin-top: -50px;
}

.my-content {
    padding-bottom: 30px;
}

.my-content :is(h3, p, a) {
    padding-left: 30px;


}

.my-content h3 {
    padding-top: 20px;
    font-size: 1.3rem;
    padding-bottom: 10px;
    line-height: 1.5rem;
    font-weight: bold;
}

.my-content p {
    line-height: 1.5rem;
    padding-bottom: 20px;
}

.my-content>a {
    padding-bottom: 60px;
    font-weight: bold;
}

/* styling section 4  */
section.section4 {
    background-image: url("../img/slide1.webp");
    background-repeat: no-repeat;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.content-4 {
    padding-top: 80px;
    padding-bottom: 70px;

}

.content-4 :is(h2, p) {
    color: white;
    font-weight: bold;
}

.content-4 h2 {
    padding-bottom: 20px;
    font-size: 1.7rem;

}

.content-4 p {
    padding-bottom: 20px;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

#btn-create-account2 {
    padding: 20px;
    font-weight: bold;
    background-color: white;
    border: none;
    color: green;
    border-radius: 5px;
    font-size: 1.1rem;

}



/* styling the footer section */
footer {
    /* background-color: #3b3c36; */
    background-color: #242124;
    color: white;
}

/* styling the footer top */
.footer-top {
    background-color: #242124;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.column-top5 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.column-top5 h3 {
    padding-bottom: 10px;
}

footer a {
    color: white;
}

footer ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

/* styling the footer bottom */
.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid #353839;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    flex-wrap: wrap;

}

.column-bottom2 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    padding-right: 350px;

}

#logo-bottom {
    height: 30px;
    border-radius: 10px;
    padding-left: 50px;
}